
@import "tailwindcss";


*{
 
  font-family: gilroy, sans-serif;  
}


html, body{
  height: 100%;
  width: 100%;
}

body{
  color:#fff
}

body{
  background-color: #111;
}

#tasklist::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
  -webkit-text-fill-color: #fff !important;
}
